<%- include('../../partials/header.ejs'); %>
<%- include('../../partials/navBar.ejs'); %>

<body>
    <div class="container">
        <hr>
        <h2>Categories</h2>
    </div>
</body>

<%- include('../../partials/footer.ejs'); %>