<%- include('../../partials/header.ejs'); %>
<%- include('../../partials/navBar.ejs'); %>
<div class="container">
    <hr>
    <div class="card">
        <div class="card-header">
            <h2>Cadasto de usuário</h2>
        </div>
        <div class="card-body">
            <form method="POST" action="">
                <input class="form-control" type="text" name="email" placeholder="Escreva seu email">
                <br>
                <input class="form-control" type="password" name="password" placeholder="senha">
                <br>
                <button class="btn btn-success">Cadastrar</button>
            </form>
        </div>
    </div>
</div>
<%- include('../../partials/footer.ejs'); %>